#printCopyright()

package ${modelData.mapperPackage};

import com.baidu.dpop.frame.core.base.GenericMapper;
import ${modelData.boPackage}.${modelData.dbtable.boName};

public interface ${modelData.dbtable.boName}Mapper extends GenericMapper<${modelData.dbtable.boName}, Long> {
	
}